# Guides:
# Improving git status response on large repo:
# git config core.fsmonitor true
# git config core.untrackedCache true
# Load GitHub special Pull Request references to origin/pull/*:
# git config --add remote.origin.fetch '+refs/pull/*:refs/remotes/origin/pull/*'

[user]
    email = me@tanapol.dev
    name = Tanapol Prucksakorn
    signingkey = E10770F0BA34F84FDFA8F2727EA163BFEC316740

[diff]
    tool = vimdiff
    colorMoved = default

[difftool]
    prompt = false

[commit]
    gpgsign = true

[core]
    excludesfile = ~/dotfiles/.mygitignore
    # pager = less -+FX
    pager = delta --paging always

[delta]
    navigate = true
    features = catppuccin-macchiato

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[fetch]
    writeCommitGraph = true

[pull]
    rebase = false

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[diff "lockb"]
    textconv = bun
    binary = true

[stgit]
    autosign = Signed-off-by

[include]
    path = ~/dotfiles/bat/delta-theme.gitconfig
    path = ~/.work/.gitconfig-work
